
.cardContainer{
    margin-top: 8px;
    background-color: aquamarine;
    cursor: pointer;
}

.stateContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}