
.cardContainer{
    margin-top: 8px;
    background-color: aquamarine;
    cursor: pointer;
}

.stateContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}