
.modalContainer{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.modalHeader{
    display: flex;
    padding: 0 0 12px;
    justify-content: space-between;
    align-items: center;
}

.inputContainer{
    margin-bottom: 16px;
}

.footer{
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 8px;
    padding-top: 8px;
}