.container{
    display: flex;
    flex-direction: column;
    // max-width: 600px;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    // margin: 0 auto;
    // border: 1px solid black;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.logOutButton{
    margin-left: auto;
}

.headerContainer{
    display: flex;
    padding-left: 8px;
}

.childComp{
    display: flex;
    flex: 1;
    min-height: 0;
}

.loginSignupcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.headingLabelContainer{
    display: flex;
    justify-content: center;
}

.signupContainer{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.separator{
    width: 50%;
    background-color: grey;
    height: 1px;
    margin: 8px 0;
}