.container{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    height: 100%;
    margin: auto;
}

.logOutButton{
    margin-left: auto;
}

.headerContainer{
    display: flex;
    padding-left: 8px;
}