.container{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    height: 90%;
    border-radius: 8px;
    margin: 0 auto;
    background-color: cadetblue;    
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.logOutButton{
    margin-left: auto;
}

.headerContainer{
    display: flex;
    padding-left: 8px;
}

.childComp{
    display: flex;
    flex: 1;
    min-height: 0;
}